name: Publish

on:
  workflow_call:
   secrets:
    USERNAME_MAVEN:
      required: true
    TOKEN_MAVEN:
      required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch-depth 0 needed for version calculation

      - name: Set up OpenJDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build & Publish
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publish
        env:
          # GitHub Packages credentials stored as repository secrets
          USERNAME: ${{ secrets.USERNAME_MAVEN }}
          TOKEN: ${{ secrets.TOKEN_MAVEN }}
