name: Test

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release/*'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: sibedge/postgres-plv8:16.3-3.2.2
        env:
          POSTGRES_PASSWORD: dbos
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up OpenJDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: wrapper

      - name: Wait for PostgreSQL
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do
            echo "Waiting for PostgreSQL..."
            sleep 2
          done
        env:
          PGPASSWORD: dbos

      - name: Run tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean test
          cache-dependencies: true
        env:
          PGPASSWORD: dbos

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: |
            build/reports/tests/
            build/test-results/
